$ESCALA: 1.04;

.mundiales{
    h2, h3{
        text-decoration: underline;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


@media (min-width: 769px) {
    /* Uruguay */
    #m1930, #m1950{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(to left, rgba(175,249,252,0.3) 70%, rgba(63,184,191,0.3));
        transition: 3s;
        &:hover{
            background: linear-gradient(to left, rgba(175,249,252,1) 70%, rgba(63,184,191,1));
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Italia */
    #m1934, #m1938, #m1982, #m2006{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(to left, rgba(90,163,235,0.5) 60%, rgba(0,0,200,0.5));
        transition: 3s;
        &:hover{
            background: linear-gradient(to left, rgba(90,163,235,1) 60%, rgba(0,0,200,1));
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Alemania */
    #m1954, #m1974, #m1990, #m2014{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 30%, rgba(255,0,0,0.5) 40%, rgba(255,255,0,0.5)) 30%;
        transition: 3s;
        &:hover{
            h3{
                color: white;
            }
            background: linear-gradient(to bottom, rgba(0,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,0,1)) 30%;
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Brasil */
    #m1958, #m1962, #m1970, #m1994, #m2002{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: radial-gradient(rgba(0,128,0,0.3) 40%, rgba(154,205,50,0.3) 10%, rgba(255,255,0,0.3) 50%);
        transition: 3s;
        &:hover{
            background: radial-gradient(rgba(0,128,0,1) 40%, rgba(154,205,50,1) 10%, rgba(255,255,0,1) 50%);
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Inglaterra */
    #m1966{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(110deg, rgba(255,0,0,0.3) 20%, rgba(255,255,255,0.3) 80%);
        transition: 3s;
        &:hover{
            background: linear-gradient(110deg, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 65%);
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Argentina */
    #m1978, #m1986{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(110deg, rgba(255,255,255,0.5), rgba(114, 211, 243,0.5), rgba(255,255,255,0.5), rgba(114, 211, 243,0.5));
        transition: 3s;
        &:hover{
            background: linear-gradient(110deg, rgba(255,255,255,1), rgba(114, 211, 243,1), rgba(255,255,255,1), rgba(114, 211, 243,1));
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* Francia */
    #m1998, #m2018{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(to bottom,rgba(0, 0, 139, 0.3), rgba(255, 255, 255, 0.3), rgba(255,0,0,0.3));
        transition: 3s;
        &:hover{
            h3{
                color: white;
            }
            background: linear-gradient(to bottom,rgba(0, 0, 139, 1), rgba(255, 255, 255, 1), rgba(255,0,0,1));
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
    /* España */
    #m2010 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: linear-gradient(to bottom, rgba(255, 0, 0, 0.3) , rgba(255,255,0,0.3) 30%, rgba(255, 0, 0, 0.3));
        transition: 3s;
        &:hover{
            background: linear-gradient(to bottom, rgba(255, 0, 0, 1) , rgba(255,255,0,1) 30%, rgba(255, 0, 0, 1));
            transform: scale($ESCALA);
            transition: 2s;
        }
    }
}
