.nosotros{
    img{
        height: 30vh;
        width: auto;
        object-fit: cover;
    }

    .tecnologias{
        img{
            height: 40vw;
            width: auto;
            object-fit: cover;
        }
    }
}