@mixin margen-vertical {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main--players{
    h2{
        text-decoration: underline;
        @include margen-vertical;
    }
    &__text{
        @include margen-vertical;
    }
}