@import "players.scss";
@import "mundiales.scss";
@import "nosotros.scss";
@import "politicas.scss";

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.pullApart{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header{

    @keyframes rotate {        
        from {
            transform: rotate(0deg);
        }
        to {transform: rotate(360deg);}
    }
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }


    
    .soccer{
        -webkit-animation: 10s rotate linear 1s;
        animation: 10s rotate linear 1s;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    h1:hover{
        .soccer{
            -webkit-animation: 7s rotate linear infinite;
            animation: 7s rotate linear infinite;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
    }
}


.main{
    margin-bottom: 2rem;
    h2{
        text-decoration: underline;
    }
    .carousel{
        &-caption{
            h3, p{
                background-color: rgba(0,0,0,0.5);
            }
        }
        img{
            width: 100vw;
            max-height: 80vh;
            object-fit: cover;
        }
    }
}

.news{
    margin: 1rem;
    h2{
        text-decoration: underline;
    }
}

.card-group{
    &__1 , &__2, &__3{
        padding: 1rem;
        border: 1px solid black;
    }

}

footer{
    margin-top: 1rem;

    .social{
        margin-top: 1rem;

        &--media{
            display: flex;
            img{
                max-width: 10px * 18;
                max-height: 10px * 18;
                width: 23%;
                height: auto;
                padding: 1rem;
                object-fit: cover;
                transform: scale(0.8);
                transition: 2300ms;

                &:hover{
                    transform: scale(0.7, 0.7);
                    transition: 1200ms;
                }
            }
        }

        &--rules{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

    }

    ul li{
        list-style: none;
    }
}